SHFB/Source/BuildAssembler/BuildComponents/Web References/MtpsContentService/atoms0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:cat="urn:mtpg-com:mtps/2004/1/image/category" attributeFormDefault="unqualified" blockDefault="#all" elementFormDefault="qualified" targetNamespace="urn:mtpg-com:mtps/2004/1/image" version="1" id="atoms" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="urn_mtpg_com_mtps_2004_1_image_category_default.xsd" namespace="urn:mtpg-com:mtps/2004/1/image/category" />
  <xs:element name="image">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:base64Binary">
          <xs:attribute name="name" type="xs:string" use="required" />
          <xs:attribute ref="cat:imageFormat" use="required" />
          <xs:attribute name="location" type="xs:string" use="optional" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>