Sandcastle/Source/BuildAssembler/BuildComponents/Web References/MtpsContentService/atoms1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" blockDefault="#all" elementFormDefault="qualified" targetNamespace="urn:mtpg-com:mtps/2004/1/key" version="1" id="atoms" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="contentId">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[0123456789abcdefghjkmnpqrstwxyz]{8}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="contentGuid">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="^\{?[a-fA-F\d]{8}-([a-fA-F\d]{4}-){3}[a-fA-F\d]{12}\}?$" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="contentAlias" type="xs:string" />
  <xs:element name="locale" type="xs:string" />
  <xs:element name="assetId" type="xs:string" />
  <xs:element name="version">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
</xs:schema>